@import "_variables.scss";
@import "_mixins.scss";
@import "_functions.scss";

i.fas.fa-star {
    color: $star-color;
}

h1 {
    @include header-font;
}

h2 {
    @include header-font('Arial', 200, normal, red);
}

.pBorder {
    border: 2px solid $border-color;
    padding: padding-calc();
}

.pBorder-highlight {
    @extend .pBorder;
    background-color: $highlight-color;
    color: $highlight-text-color;
}

.featuredH2 {
    @include header-font('Arial', 300, normal, gold);
}

a:hover {
    color: #dc3545;
    text-decoration: line-through;
}

.delete-video {
    padding: 50px 0;
    text-align: left;

    .delete-buttons {
        margin: 0 auto;
    }
}

.footer {
    position: static;
}
